#dailytasks-history-days table td.t-done{
	background-color:white
}
#dailytasks-history-days table td.t-notdone{
	background-color:black
}
#dailytasks-history-days table tr:first-child .t-notdone { /* hago que la primera fila de los que no se cumplieron se vean */
    color: #7e7e7e;
}
#dailytasks-history-days table td.t-marked{ /* los que tienen marca '!' en la tarea */
	color: red !important;
}
.dailytasks-history-days-missing {
    background-color: #6eeaff;
    color: #7eaae3;
    text-align:center;
}
.dailytasks-history-days-changed-tasks {
    background-color: #777777;
    color: #b1b1b1;
    text-align:center;
}


@media only screen and (max-width: 999px) {

#dailytasks-history-days table td {
    min-width: 111px;
    font-size: 36px;
}

#dailytasks-history-days table {
    height: 90%;
}

#dailytasks-reset-day input {
	font-size: 39px;
	width: 46%;
	height: 78px;
	margin: 10px;
}

#dailytasks-reset-day-submit{
	margin-top:200px;
	padding:34px;
}

}