html,body{
	margin:0;
	padding:0;
}

#mainEdit {
    display:block;
    width: 90%;
    margin: 10px;
    height:500px
}
#sideEdit1,#sideEdit2{
    height:159;
    width:45%;
}

#message {
    padding: 10px;
    color: green;
    font-size: 55px;
    background: #d1ecff;
}

#integrity-warning{
	padding: 10px;
    color: #ffed00;
    font-size: 55px;
    background: #dc7676;
}

#modified-warning{
	padding: 10px;
    color: #ffed00;
    font-size: 55px;
    background: #dc7676;
}


#fileOperations button{
	display:block;
	/* margin-left:85%; */
}
.tarea{
	/*width:90%;*/
	margin: 1px;
	padding: 15px 0;
	border-bottom: 1px #75b9ff solid;
	word-break: break-word; /* does not break word except if the length is more than the space available (a long word doesn't break the layout), not standard for web-kit but works on chrome */
	font-size: 60px;
}
.highlighted{
	 border: 9px #40ec40 solid;
	 padding:2px;
	 margin: 10px 0 10px 0;
}
.checked{background-color: yellow !important;}
.tarea-parent{/* background-color:lightgray; */font-weight: bold;}
.tarea[tab="1"]{
	background-color: #eee;
	margin-left:30px;
}
.tarea[tab="2"]{
	background-color: #ddd;
    margin-left:60px;
}
.tarea[tab="3"]{
	background-color: #ccc;
    margin-left:90px;
}
.tarea[tab="4"]{
	background-color: #bbb;
    margin-left:120px;
}
.tarea[tab="5"]{
	background-color: #aaa;
    margin-left:150px;
}
.tarea[tab="6"]{
	background-color: #999;
    margin-left:180px;
}
.tarea[tab="7"]{
	background-color: #888;
    margin-left:210px;
}
.tarea[tab!="0"]{
	background-color: #777;
    margin-left:0px;
}

#task-tools button {
    font-size: 36px;
    border: 3px black solid;
    margin: 15px;
    padding: 25px;
}

#task-tools {
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
}

.changed {
    /* background-color: #d7ffd7; */
    font-style: italic;
}

#dynamic-index {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    /* min-height: 500px; */
    top: 20px;
    left: 20px;
    border: 3px #8a1b1b solid;
    padding: 10px;
    z-index: 450;
}

div#dynamic-index-container {
    overflow-y: scroll;
    height: 95%;
    margin-top: 36px;
}

#di-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px;
}

#dynamic-index-moveto {
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    /* min-height: 500px; */
    top: 20px;
    left: 20px;
    border: 3px #8a1b1b solid;
    padding: 10px;
    z-index: 500;
}

#dynamic-index-moveto-container {
    overflow-y: scroll;
    height: 95%;
    margin-top: 36px;
}

#di-moveto-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px;
}

#general-tools {
    /* position: absolute; */
    top: 0;
    width: 100%;
    right: 0;
    background: #e4c6ff;
}

div#lines {
    height: 85%;
    overflow: scroll;
	margin: 0px 14px;
}

button {
    /* width: 430px; */
    /* height: 120px; */
    font-size: 50px;
    margin: 7px;
    padding: 14px;
}

textarea {
    width: 100%;
    min-height: 280px;
}

#fileOperations {
    background: #d1ecff;
    padding: 10px;
}
#popup1{
    position:absolute;
    top:0;
    left:0;
    border: 4px #717171 solid;
    width: 79%;
    height: 80%;
    margin: 5%;
    background: #f0fffe;
    z-index: 400;
    padding: 5%;
}
#popup1-close{
    position: absolute;
    width: 70px;
    height: 70px;
    font-size: 40px;
    padding: 5px;
    z-index: 410;
    right: 0;
    top: 0;
}
#popup1-container{
    width: 100%;
    height: 90%;
    z-index: 401;
    position: relative;
    overflow-y:auto;
}

textarea#file-edit {
    height: 74%;
    margin-top: 50px;
}

#edit-mark {
    padding: 30px;
    margin-top: 130px;
}

#edit-mark input {font-size: 39px;width: 50%;height: 78px;}

#edit-mark button {
    margin: 17px;
    padding: 20px;
}

#edit-mark-preview {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background: #c6eaff;
    margin: 30px 0;
    min-height:58.4px;
}

#popup1 h1 {
    text-align: center;
    font-size: 50px;
}

.tarea.category {
    background: #d1e8ff;
    /* font-weight: bold; */
}

#bulk-tools {
    background: #f8d1ff;
}

.status-done {
    color: gray;
}

.status-info {
    color: #1f7d1f;
}

.status-important {
    color: #a00000;
}

.highlight-btn {
    background-color: #ffff91;
}

#fp-input-text {
    width: 60%;
    font-size: 50px;
    margin: 30px 0;
}

#popup1 {
    font-size: 50px;
}

#popup1 label {}

html,body {
    font-size: 20px;
}

html * {max-height:1000000px;} /* fix para chrome en android (FONT BOOSTING) sino el tamaÃ±o de la tipo la automaneja el chrome y no tenÃ©s control */

#new-gasto-popup input/*[type=text],#ngp-price*/ {
    width: 100%;
    font-size: 50px;
}

#new-gasto-popup {
    text-align: left;
    line-height: 92px;
}

#new-gasto-popup input[type=checkbox] {
    width: 40px;
    height: 40px;
    margin: 0 40px;
}

button#ngp-add {
    width: 60%;
    padding: 5%;
    margin: 50px 20%;
}

div#ngp-message {
    background-color: #a9ffa9;
    text-align: center;
}

input#ngp-price {
    width: 89%;
}

div#ngp-price-container {
    width: 60%;
    /* height: 200px; */
    /* float: left; */
    display: inline-block;
    padding: 5px;
}

input#ngp-prefix {
    width: 60%;
    margin-left: 25px;
    text-align: right;
}

input#ngp-suffix {
    width: 60%;
    margin-left: 25px;
    text-align: right;
}

label {
    /* clear: both; */
}

button#ngp-clear {
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
    vertical-align: bottom;
}

div#loading {
    position: absolute;
    font-size: 60px;
    font-family: arial;
    background-color: #b0d7ff;
    border: 13px #378bc6 solid;
    color: #00497d;
    width: 30%;
    height: 10%;
    padding: 30%;
    /* margin: auto; */
    /*margin-top: 30%;*/
    margin-left: 4%;
    /* text-align: center; */
    z-index: 9999;
}

button.tool-check {
    position: absolute;
    right: 0;
    width: 90px;
    height: 145px;
    top: -3px;
    margin: 0px !important;
    padding: 15px !important;
    background-color: #feffcb;
}

button.tool-show-children {
    position: absolute;
    bottom: -11px;
    right: -2px;
    width: 122px;
    height: 110px;
    padding: 15px !important;
    margin: 0 !important;
    background-color: #a2a2a2;
    color: white;
}

button.tool-delete {
    background-color: #ffbbbb;
}

#task-tools-second-row {
    /* margin-top: 30px; */
}
.tarea.expanded .tool-show-children{
	background-color: #fff;
	color:gray;
}

button.tool-edit {
    background-color: #dbe6f0;
}

span.button-star-icon {
    color: #000000;
    font-weight: bolder;
}

#task-tools button.button-with-icon {
    background-image: url("../img/icons_new_below.png");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 70px !important;
}



button.tool-edit.button-with-icon {
    background-image: url("../img/icons_edit.png") !important;
}

button.tool-move.button-with-icon {
    background-image: url("../img/icons_move_below.png") !important;
}

#popup-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(73, 84, 162, 0.5);
    top: 0;
    left: 0;
    z-index: 200;
}

#task-edit-textarea {
    font-size: 35px;
}
.list-graphic{
	font-size:23px;
	border:none;
	/*line-height:0px;*/
	margin:0;
	padding:0;
}

/** semana */
.week-weather {
    font-size: 73%;
    color: gray;
}

.week-weather-condition {
	display: inline-block;
    margin: 0 10px 0 20px;
    vertical-align: middle;
}

@media only screen and (min-width: 1000px) {
	html,body{font-size:12px ;}
	.tarea{font-size:21px ;}
	button{font-size:21px ;}
	#task-tools button{margin:5px ; padding:5px }
	.tool-check{height:65px !important }
	.tool-show-children{height:50px !important }
	.button-with-icon{background-size:16% !important;background-position:10% !important }
	#task-tools button {
	    font-size: 17px;
	    border: 1px solid black;
	}
	#message{font-size:21px ;}
	.highlighted{border-width:4px}
	#task-tools-first-row{float:left;}
	#task-edit-textarea {
	    font-size: 16px;
	}
	#bulk-tools {
	    float: right;
	}
	#popup1 {
	    font-size: 20px;
	}
	#popup1 h1 {
	    font-size: 22px;
	}
	#popup1 input {
	    font-size: 20px;
	}
	#new-gasto-popup input[type=checkbox] {
	    width: 15;
	    height: 15;
	    margin: 0 15px;
	}
	#new-gasto-popup{
		line-height:15px;
	}
	button#ngp-add {
	    padding: 5px;
	}
	button#ngp-clear {
	    padding: 5px;
	}
	textarea {
	    width: 100%;
	    min-height: 80px;
	}
	.list-graphic {
    	font-size: 13px !important;
	}
	div#loading {
	    font-size: 24px;
	}
	#edit-mark-preview {
	    font-size: 20px;
	    margin: 10px 0;
	    min-height:23px;
	}
	#edit-mark button {
	    margin: 6px;
	    padding:6px;
	}
	#edit-mark {
	    padding: 6px;
	    margin-top: 6px;
	}
	#edit-mark input {
	    font-size: 20px;
	    width: 50%;
	    height: 30px;
	}
	#integrity-warning{
    	font-size: 22px;
	}
	#modified-warning{
	    font-size: 22px;
	}
	.desktop-left{
		width:50%;
		float:left;
	}
}