

#worklog-check {
    width: 98%;
    height: 170px;
}

/*#worklog-stats {
    margin-top: 10px;
    font-size: 35px;
    height: 570px;
}*/

#worklog-check-alert {
    text-align: center;
    background-color: #a9ffa9;
    padding: 20px;
}

#worklog-history {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    font-family: monospace;
    color:#9b96c3
}

#worklog-manual-entry-container input {
	font-size: 39px;
	width: 46%;
	height: 78px;
	margin: 10px;
}

/*#worklog button {
    margin: 17px;
    padding: 20px;
}*/

#worklog-manual-entry-container input[type="radio"] {
    width: 10%;
    vertical-align: middle;
}
#worklog-days{
	width:94px;
	font-size:50px;
}

.active-tab{
	color:#ffffff;
	background-color:#555555;
}


@media only screen and (min-width: 1000px) {

#worklog-manual-entry-container input {
    font-size: 18px;
    width: 43%;
    height: 30px;
    margin: 5px;
}

	
}