html,body{
    margin:0;
    padding:0;
    font-family:Arial;
    text-align:center;
    background-color: #E7D9F7;
}
h1{
    font-size:3em;
    color: #75208A;
}
h2{
    margin:0;
    padding:0;
    color: #ffffff;
    font-size: 52px;
}
div{
    font-size:1.5em;
}
label{
    font-size: 27px;
    /* text-indent: 10px; */
    font-style: italic;
    color: #BB6BBB;
    font-weight: bold;
    /* text-align: left !important; */
    /* padding: 35px; */
}
.segment{
    background-color: #D9ABE8;
    margin: 50px 0;
}
#output{
    background-color:white;
    font-size: 30px;
    height: 130px;
    padding: 15px;
    color: #C296D8;
    text-align: left;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
textarea{
    width: 98%;
    min-height: 290px;
    /* padding: 0 24px; */
    margin: 1%;
    font-size: 50px;
    font-family: monospace;
}
button{
    font-size:60px;
    padding: 34px;
    width: 90%;
    background-color: #F9ADFF;
    font-weight: bold;
    color: #FFFFFF;
    box-shadow: 5px 5px 23px #AE7BB1;
    border-radius: 43px;
    background: #f7c3fa;
    background-image: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(top, #f7c3fa, #ba61e6);
    background-image: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -moz-linear-gradient(top, #f7c3fa, #ba61e6);
    background-image: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -ms-linear-gradient(top, #f7c3fa, #ba61e6);
    background-image: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -o-linear-gradient(top, #f7c3fa, #ba61e6);
    background-image: linear-gradient(to bottom, #f7c3fa, #ba61e6);
    pointer: hand;
    cursor: hand;
}