<div id="worklog-popup">
    	<div id="worklog-main" class="desktop-left">
	        <div id="worklog-stats"></div>
	        <div id="worklog-control">
		        <label>Days</label><input id="worklog-days" type="number" value="30"><button id="worklog-refresh">↕</button>
		        <button id="worklog-manual-entry">manual entry</button>
		        <div id="worklog-manual-entry-container" style="display:none">
		            <input type="date" id="worklog-manual-date">
		            <input type="time" id="worklog-manual-time">
		            <input type="radio" name="worklog-manual-type" class="worklog-manual-type" value="checkin"> check in
		            <input type="radio" name="worklog-manual-type" class="worklog-manual-type" value="checkout"> check out
		        </div>
		        <button id="worklog-check">check</button>
		        <div id="worklog-check-alert">Registrado</div>
	        </div>
    	</div>
        <div id="worklog-history" class="desktop-right">
	        <button id="worklog-history-totaltime-show" class="active-tab">Horas</button>
	        <button id="worklog-history-checks-show">Entradas</button>
        	<div id="worklog-history-totaltime">totaltime</div>
        	<div id="worklog-history-checks" style="display:none">checks</div>
        </div>
    </div>